<div class="col mb-4">
  <a href="{% if project.link %}{{ project.link }}{% elsif project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      <div class="row no-gutters">
        {% if project.img %}
          <div class="col-md-12">
            {% include figure.liquid loading="eager" path=project.img sizes="(min-width: 768px) 156px, 50vw" alt="project thumbnail" class="card-img" %}
          </div>
        {% endif %}
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title">{{ project.title }}</h3>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
        <!-- Move Skills Section Here -->
        <div class="col-md-12">
          {% if project.skills %}
            <div class="skills mt-2 mb-2">
              <ul class="list-inline">
                {% for skill in project.skills %}
                  <li class="list-inline-item badge badge-primary">{{ skill }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
